doctype html5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title= title
    
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-56063347-1', 'auto');ga('send', 'pageview');
    
    block head
  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand(href="/") ヤナギニツバメ
          //- button.navbar-toggle.coolapsed.hidden-xs.hidden-sm(type="button", data-toggle="collapse",data-target="#navbarRight")
        div.collapse.navbar-collapse#navbarRight
          ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
            block gameMenu  
            if isLogin
              li.dropdown
                a.dropdown-toggle(href="#",data-toggle="dropdown")
                  img#userIcon(src=user.photo)
                  if user.provider === "twitter"
                    span= ' ' + user.username
                  else 
                    span= ' ' + user.displayName
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/user")
                      i.fa.fa-user  user page
                  li.divider
                  li
                    a(href="/logout")
                        i.fa.fa-sign-out  logout
            else
              li.dropdown
                a.dropdown-toggle(href="#",data-toggle="dropdown") login
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/login/twitter")
                      i.fa.fa-twitter-square  with Twitter
                  li.divider
                  li
                    a(href="/login/facebook") 
                      i.fa.fa-facebook-square  with Facebook
    div#main.container-fluid
      block content
    block insertScript
